################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MLNet/bin
/MLNet/obj
/MLNetTest/bin
/MLNetTest/obj
/Demo/bin/Debug/net6.0
/Demo/obj
