################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LinearRegression/bin
/LinearRegression/obj
/MLNet/bin
/MLNet/obj
/MLNetTest/bin
/MLNetTest/obj
